<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sign_in.css' %}">
    <title>Password</title>
    <style>
    .alert {
      padding: 10px;
      background-color: #ff9800;
      color: white;
      opacity: 1;
      transition: opacity 0.0s;
      margin-bottom: 15px;
      font-size: 17px
    }
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 25px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.0s;
    }
    .alert.success {background-color: #4CAF50;}
    .closebtn:hover {
      color: black;
    }
    </style>
</head>
<body>
<form method="post">
    {% csrf_token %}
<!--<<<<<<< HEAD-->
<!--<div class="wapper" style="width: 400px; height: 600px; margin-left: 450px;">-->
    <!--<div class="container-fluid">-->
		<!--<div class="row">-->
			<!--<div class="well center-block">-->
				<!--<div class="well-header">-->
<!--{#                    <button type="button" class="close" data-dismiss="modal">&times;</button>#}-->
					<!--<h3 class="text-center "><b> Xác nhận lấy lại mật khẩu </b></h3>-->
                    <!--<h5 class="text-center ">Vui lòng nhập email bạn muốn lấy lại mật khẩu</h5>-->
					<!--<hr>-->
				<!--</div>-->

<!--=======-->
<div>
	<div id="content" style="height: 0;">
		<div class="language">
			Language: <img src="{% static '/image/logo/england.png' %}" /> <span id="datetime"></span>
		</div>
	</div>
    <div >
		<div>
			<div class="center-block forgot-password">
				<!-- <div class=""> -->
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
					<h1 class="text-center title-forgot-password">Forgot password</h1>
                    <!-- <h5 class="text-center text-white">Vui lòng nhập email bạn muốn lấy lại mật khẩu</h5> -->
				<!-- </div> -->
<!--&gt;>>>>>> dev-->
                {% if infor.exist %}
                    <div class="alert">
                        <span class="closebtn">&times;</span>
                        {{infor.exist}}
                    </div>
                {% endif %}
                <script>
                    var close = document.getElementsByClassName("closebtn");
                    var i;
                    for (i = 0; i < close.length; i++) {
                      close[i].onclick = function(){
                        var div = this.parentElement;
                        div.style.opacity = "0";
                        setTimeout(function(){ div.style.display = "none"; }, 600);
                      }
                    }
                </script>
				<div class="row">
					<div class=" col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-envelope"></i>
								</div>
								<input type="email" class="form-control" name="txtmail" placeholder="E-Mail">
<!--<<<<<<< HEAD-->
                                <p id="noti" style="color: red">{{ noti }}</p>
<!--=======-->
                                <!--<p style="color: red;">{{ tuan }}</p>-->
<!--&gt;>>>>>> tuan_k63-->
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 text-center">
						<button type="submit" class="btn btn-primary btn-forgot-password">Submit</button>
					</div>
				</div>
				<div style="text-align: center; margin-top: 5px;">
					<a href="{% url 'logout' %}">Return Login</a>
				</div>
			</div>
		</div>
	</div>
{#    <script>#}
{#        var noti = {{ noti }};#}
{#        document.getElementById("noti").innerHTML = noti;#}
{#    </script>#}
</div>
</form>
<script>
	var dt = new Date();
	document.getElementById("datetime").innerHTML = dt.toLocaleString();
	setInterval(() => {
		dt = new Date();
	document.getElementById("datetime").innerHTML = dt.toLocaleString();
	}, 1000);
</script>
</body>
</html>