{% extends 'BaseUI/BaseFacility/baseMitigation.html' %}
{% load staticfiles %}
{% load static %}
<!-------------- BLOCK MENU ---------------->
{% block homedetail %}{% url 'homefacility' siteID%}{% endblock %}
{% block listfaci %}{% url 'facilitiesDisplay' siteID %}{% endblock %}
{% block newfaci %}{% url 'facilitiesNew' siteID %}{% endblock %}
{% block design %}{% url 'designcodeDisplay' siteID %}{% endblock %}
{% block manu %}{% url 'manufactureDisplay' siteID %}{% endblock %}
{% block uploadInsp %}{% url 'upload' siteID %}{% endblock %}
{% block uploadPlant %}{% url 'uploadPlan' siteID %}{% endblock %}
{#{% block uploadScada %}{% url 'uploadScada' siteID %}{% endblock %}#}
{% block manageFile %}{% url 'manageFile' siteID %}{% endblock %}
{% block inspecPlan %}{% url 'inspectionPlan' siteID %}{% endblock %}
{% block rbitracking %}{% url 'rbitracking' %}{% endblock %}
{% block mitigationSite %}{% url 'mitigationSite' siteID%}{% endblock %}
{% block data-content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
    .card{
        background: #ffffff;
    }
    .bang{
        width: 50%;
        height: 50%;
        background-color: #305680;
        margin: auto;
        /*overflow-x: scroll;*/
    }
    button{
        width: 150px;
        height: 70px;
        margin-top: 20px;
        margin-left: 5px;
        background-color: #FFFFFF;
    }
  

    </style>
    <!-- <a href="{% url 'mitigationSite' siteID %}" title="Back" style="color:black; font-size:20px"><img src='/static/image/loading/back.png' style="padding-bottom: 6px;width:40px;"></a> -->
    <div class="title-verifitcation">
        <h1>Prevention / Mitigation</h1>
    </div>
    <form id="inspectionplan" method="post">
      {% csrf_token %}
        <!-- <div style=" text-align: center"><caption><b style="font-size: 20px; color: #444444;">Prevention / Mitigation</b></caption></div> -->
        <div>
          <div>
            <div class="row">
              <div class="col-sm-4">
                <select id="type" class="form-control">
                  <option value="0">PoF</option>
                  <option value="1">CoF</option>
                </select>
              </div>
              <div class="col-sm-4">
                <select id="size" class="form-control" name='size'>
                    <option value="thinning">Thinning Damage Factor</option>
                    <option value="alkaline">Alkaline Carbonate Stress Corrosion Cracking</option>
                    <option value="caustic">SCC - Caustic Cracking</option>
                    <option value="amine">SCC - Amine Cracking</option>
                    <option value="pascc">Polythionic Acid Stress Corrosion Cracking</option>
                    <option value='all'>All</option>
                </select>
              </div>
            <div class="col-sm-4" style="text-align: right;">
                 <input type="submit" name="analysis" onclick="AnalysicClick();"value="analysis">
            </div>
            </div>
          </div>
      </div>
      <br>

      <script type="text/javascript">
        $(document).ready(function () {
            $("#size").html("<option value='financial'>Finance</option><option value='area'>Area</option>");
            document.getElementById('type').selectedIndex=1;
            document.getElementById('size').selectedIndex=0;

        $("#type").change(function () {
        var val = $(this).val();
        if (val == "0") {
            $("#size").html("<option value='thinning'>Thinning Damage Factor</option><option value='alkaline'>Alkaline Carbonate Stress Corrosion Cracking</option><option value='caustic'>SCC - Caustic Cracking </option><option value='amine'>SCC - Amine Cracking </option><option value='pascc'>Polythionic Acid Stress Corrosion Cracking</option><option value='all'>All</option>");

        } else if (val == "1") {
            $("#size").html("<option value='financial'>Finance</option>");

        } 
    });
});
        function AnalysicClick() {
            var div = document.createElement('div');
            var img = document.createElement('img');
            img.src = '{% static 'image/loading/Pacman-1s-100px.gif' %}';
            div.style.cssText = "position: fixed;left: 50%; top: 30%; width: 300px; text-align: center; background: rgba(54, 25, 25, .00004); border: 0px solid #000;";
            div.appendChild(img);
            document.body.appendChild(div);
            return true;
        }
      </script>

    </form>

    <div id='0' name="left" style="float: left;" class="chart-mitigation-50">
    <!--  Day la chart -->
        <canvas id="myChartPROCESS_UNIT" ></canvas>
    </div>
    <div id='1' name="right" style="float: left;" class="chart-mitigation-50">
<!--  Day la chart -->
    <canvas id="myChartOUTAGE_MULTIPLIER" ></canvas>
     </div>
    <div id='2' name="left" style="float: left;" class="chart-mitigation-50">
    <!--  Day la chart -->
        <canvas id="myChartPRODUCTION_COST" ></canvas>
     </div>
     <div id='3'name="right" style="float: right;" class="chart-mitigation-50">
    <!--  Day la chart -->
        <canvas id="myChartPERONAL_DENSITY" ></canvas>
     </div>
    <div id='4'name="left" style="float: left;" class="chart-mitigation-50">
    <!--  Day la chart -->
        <canvas id="myChartINJURE_COST" ></canvas>
     </div>
    <div id='5'name="right" style="float: right;" class="chart-mitigation-50">
    <!--  Day la chart -->
        <canvas id="myChartEVIRONMENT_COST" ></canvas>
     </div>
     <script type="text/javascript">
         var lineChartOUTAGE_MULTIPLIER = document.getElementById('myChartOUTAGE_MULTIPLIER');
        var myChartOUTAGE_MULTIPLIER = new Chart(lineChartOUTAGE_MULTIPLIER, {
                type: 'line',
                data: {
                        labels:[{% for x in obj.data_OUTAGE_MULTIPLIER_X %}
                            {{ x }},
                        {% endfor %}
                        ],
                    datasets: [
                        {
                            label: 'Financial',
                            data: [{% for x in obj.data_OUTAGE_MULTIPLIER_Y0 %}
                            {{ x }},
                        {% endfor %}
                        ],
                            backgroundColor: 'rgba(0, 128, 128, 0.3)',
                            borderColor: 'rgba(0, 128, 128, 0.7)',
                            borderWidth: 1,
                            fill:false
                        },
                        {
                            label: 'Risk',
                            data: [{% for x in obj.data_OUTAGE_MULTIPLIER_Y1 %}
                            {{ x }},
                            {% endfor %}
                            ],
                            backgroundColor: 'rgba(128, 0, 128, 0.7)',
                            borderColor: 'rgba(128, 0, 128, 1)',
                            borderWidth: 1,
                            fill:false
                        },

                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:false,
                                stacked: true
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                            display: true,
                            fontSize: 14,
                            labelString: "Equipment Outtage Multiplier",
                            }
                        }]

                    },
                }
            });

         var lineChartPROCESS_UNIT = document.getElementById('myChartPROCESS_UNIT');
        var myChartPROCESS_UNIT = new Chart(lineChartPROCESS_UNIT, {
                type: 'line',
                data: {
                        labels:[{% for x in obj.data_PROCESS_UNIT_X %}
                            {{ x }},
                        {% endfor %}
                        ],
                    datasets: [
                        {
                            label: 'Financial',
                            data: [{% for x in obj.data_PROCESS_UNIT_Y0 %}
                            {{ x }},
                        {% endfor %}
                        ],
                            backgroundColor: 'rgba(0, 128, 128, 0.3)',
                            borderColor: 'rgba(0, 128, 128, 0.7)',
                            borderWidth: 1,
                            fill:false
                        },
                        {
                            label: 'Risk',
                            data: [{% for x in obj.data_PROCESS_UNIT_Y1 %}
                            {{ x }},
                            {% endfor %}
                            ],
                            backgroundColor: 'rgba(128, 0, 128, 0.7)',
                            borderColor: 'rgba(128, 0, 128, 1)',
                            borderWidth: 1,
                            fill:false
                        },

                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:false,
                                stacked: true
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                            display: true,
                            fontSize: 14,
                            labelString: "Process unit replacement costs for component ($/m^2)",
                            }
                        }]

                    },
                }
            });
         var lineChartPRODUCTION_COST = document.getElementById('myChartPRODUCTION_COST');
         new Chart(lineChartPRODUCTION_COST, {
                type: 'line',
                data: {
                        labels:[{% for x in obj.data_PRODUCTION_COST_X %}
                            {{ x }},
                        {% endfor %}
                        ],
                    datasets: [
                        {
                            label: 'Financial',
                            data: [{% for x in obj.data_PRODUCTION_COST_Y0 %}
                            {{ x }},
                        {% endfor %}
                        ],
                            backgroundColor: 'rgba(0, 128, 128, 0.3)',
                            borderColor: 'rgba(0, 128, 128, 0.7)',
                            borderWidth: 1,
                            fill:false
                        },
                        {
                            label: 'Risk',
                            data: [{% for x in obj.data_PRODUCTION_COST_Y1 %}
                            {{ x }},
                            {% endfor %}
                            ],
                            backgroundColor: 'rgba(128, 0, 128, 0.7)',
                            borderColor: 'rgba(128, 0, 128, 1)',
                            borderWidth: 1,
                            fill:false
                        },

                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:false,
                                stacked: true
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                            display: true,
                            fontSize: 14,
                            labelString: "Loss of Production Cost, $/day",
                            }
                        }]

                    },
                }
            });

     var lineChartPERONAL_DENSITY = document.getElementById('myChartPERONAL_DENSITY');
    new Chart(lineChartPERONAL_DENSITY, {
            type: 'line',
            data: {
                    labels:[{% for x in obj.data_PERONAL_DENSITY_X %}
                        {{ x }},
                    {% endfor %}
                    ],
                datasets: [
                    {
                        label: 'Financial',
                        data: [{% for x in obj.data_PERONAL_DENSITY_Y0 %}
                        {{ x }},
                    {% endfor %}
                    ],
                        backgroundColor: 'rgba(0, 128, 128, 0.3)',
                        borderColor: 'rgba(0, 128, 128, 0.7)',
                        borderWidth: 1,
                        fill:false
                    },
                    {
                        label: 'Risk',
                        data: [{% for x in obj.data_PERONAL_DENSITY_Y1 %}
                        {{ x }},
                        {% endfor %}
                        ],
                        backgroundColor: 'rgba(128, 0, 128, 0.7)',
                        borderColor: 'rgba(128, 0, 128, 1)',
                        borderWidth: 1,
                        fill:false
                    },

                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:false,
                            stacked: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                        display: true,
                        fontSize: 14,
                        labelString: "The unit Population Density of Personnel or Employees, personal/m",
                        }
                    }]

                },
            }
        });
    var lineChartINJURE_COST = document.getElementById('myChartINJURE_COST');
    new Chart(lineChartINJURE_COST, {
            type: 'line',
            data: {
                    labels:[{% for x in obj.data_INJURE_COST_X %}
                        {{ x }},
                    {% endfor %}
                    ],
                datasets: [
                    {
                        label: 'Financial',
                        data: [{% for x in obj.data_INJURE_COST_Y0 %}
                        {{ x }},
                    {% endfor %}
                    ],
                        backgroundColor: 'rgba(0, 128, 128, 0.3)',
                        borderColor: 'rgba(0, 128, 128, 0.7)',
                        borderWidth: 1,
                        fill:false
                    },
                    {
                        label: 'Risk',
                        data: [{% for x in obj.data_INJURE_COST_Y1 %}
                        {{ x }},
                        {% endfor %}
                        ],
                        backgroundColor: 'rgba(128, 0, 128, 0.7)',
                        borderColor: 'rgba(128, 0, 128, 1)',
                        borderWidth: 1,
                        fill:false
                    },

                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:false,
                            stacked: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                        display: true,
                        fontSize: 14,
                        labelString: "The cost associated with serious injury of fatality of personnel, $",
                        }
                    }]

                },
            }
        });
    var lineChartEVIRONMENT_COST = document.getElementById('myChartEVIRONMENT_COST');
    new Chart(lineChartEVIRONMENT_COST, {
            type: 'line',
            data: {
                    labels:[{% for x in obj.data_EVIRONMENT_COST_X %}
                        {{ x }},
                    {% endfor %}
                    ],
                datasets: [
                    {
                        label: 'Financial',
                        data: [{% for x in obj.data_EVIRONMENT_COST_Y0 %}
                        {{ x }},
                    {% endfor %}
                    ],
                        backgroundColor: 'rgba(0, 128, 128, 0.3)',
                        borderColor: 'rgba(0, 128, 128, 0.7)',
                        borderWidth: 1,
                        fill:false
                    },
                    {
                        label: 'Risk',
                        data: [{% for x in obj.data_EVIRONMENT_COST_Y1 %}
                        {{ x }},
                        {% endfor %}
                        ],
                        backgroundColor: 'rgba(128, 0, 128, 0.7)',
                        borderColor: 'rgba(128, 0, 128, 1)',
                        borderWidth: 1,
                        fill:false
                    },

                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:false,
                            stacked: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                        display: true,
                        fontSize: 14,
                        labelString: "Environmental clean up Costs, $/Barrel",
                        }
                    }]

                },
            }
        });

     {% for x in medthod %}
        document.getElementById('{{ x }}').style.border='red 2px solid';
     {% endfor %}
     </script>

{% endblock %}
<!----------------- END BLOCK----------------->
