{% extends 'BaseUI/BaseFacility/baseEquipment.html' %}

<!--------------- BLOCK MENU ------------->
{% block listeq %}{% url 'equipmentDisplay' facilityID %}{% endblock %}
{% block neweq %}{% url 'equipmentNew' facilityID %}{% endblock %}
{% block backfaci %}{% url 'facilitiesDisplay' siteID %}{% endblock %}
<!--------------- END BLOCK -------------->

{% block data-content %}
    <form method="post">
        {% csrf_token %}
        <div class="input-data">
            <div class="title-verifitcation" >
                <h1>Edit Equipment</h1>
            </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="color-white">
                            Equipment Number:<span style="color: red">*</span>
                        </div>
                        <input type="text" class="form-control" name="equipmentNumber" value="{{ data.equipmentnumber }}" placeholder="Input equipment number here!" required>
                        {% if error.exist %}
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8"><span style="color: red; font-size: 16px;">{{ error.exist }}</span></div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="color-white">
                            Equipment Name:<span style="color: red">*</span>
                        </div>
                        <input type="text" name="equipmentName" class="form-control" value="{{ data.equipmentname }}" placeholder="Input equipment name here!" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="color-white">
                            Equipment Type:<span style="color: red">*</span>
                            <select class="form-control" name="equipmentType" required>
                                <option disabled selected>{{ data.equipmenttype }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="color-white">
                            Design Code:<span style="color: red">*</span>
                        </div>
                        <select class="form-control" name="designCode" required>
                            <option disabled selected>Please select your design code..</option>
                            {% for a in designcode %}
                                {% if a.designcode == data.designcode %}
                                <option selected>{{ a.designcode }}</option>
                                {% else %}
                                <option>{{ a.designcode }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="color-white">
                            Manufacturer:<span style="color: red">*</span>
                        </div>
                        <select class="form-control" name="manufacture" required>
                            <option disabled selected>Please select one manufacture..</option>
                            {% for a in manufacture %}
                                {% if a.manufacturername == data.manufacture %}
                                <option selected>{{ a.manufacturername }}</option>
                                {% else %}
                                <option>{{ a.manufacturername }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="color-white">
                            Commission Date:<span style="color: red">*</span>
                        </div>
                        <input type="text" name="CommissionDate" class="form-control" id="commissiondate" value="{{ data.commissiondate }}" placeholder="yyyy-mm-dd" required>
                    </div>
                    <script>
                        $( "#commissiondate" ).datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
                    </script>
                    <div class="col-md-8">
                        <div class="color-white">
                            PDF No:
                        </div>
                        <input type="text"  name="PDFNo" class="form-control" value="{{ data.pdf }}" placeholder="Input PDF number here!">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 class-inline-custom">
                        <div class="color-white" style="width: 190px;">
                            Process Description:
                        </div>
                    </div>
                    <div class="col-md-12">
                        <textarea type="text" class="form-control" name="processDescription" placeholder="Write process desciprtion here!">{{ data.processdescrip }}</textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 class-inline-custom">
                        <div class="color-white" style="width: 190px;">
                            Description:
                        </div>
                    </div>
                    <div class="col-md-12">
                        <textarea type="text"  class="form-control"  name="decription" placeholder="Write equipment description here!">{{ data.description }}</textarea>
                    </div>
                </div>
            <div  style="text-align:center;margin-top: calc(100vh - 610px);">
                <button type="submit" class="btn btn-primary mr-16">Submit</button>
                <a class="btn btn-default" href="{% url 'equipmentDisplay' facilityID %}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}