{% extends 'BaseUI/BaseManager/VerificationBase.html' %}
{% load staticfiles %}
{% load static %}


{% block library %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Facility Management{% endblock %}

{% block vertical %}
    <div class="vertical-menu">
        <a class="active">List menu verification</a>
    <a href="{% block listfaci %}{% endblock %}" class="{% if page == 'listFacility' %}activeLink{% endif %}"><i class="fa fa-list">&emsp; Factories</i></a>
    <!--<a href="{% block design %}{% endblock %}" class="{% if page == 'listDesign' %}activeLink{% endif %}"><i class="fa fa-barcode">&emsp; Design Code</i></a>-->
    <!--<a href="{% block manu %}{% endblock %}" class="{% if page == 'listManu' %}activeLink{% endif %}"><i class="fa fa-cubes">&emsp;Manufacture</i></a>-->
    <!--<a href="{% block uploadInsp %}{% endblock %}" class="{% if page == 'uploadHistory' %}activeLink{% endif %}"><i class="fa fa-file">&emsp; Upload History</i></a>-->
    <!--<a href="{% block uploadPlant %}{% endblock %}" class="{% if page == 'uploadPlan' %}activeLink{% endif %}"><i class="fa fa-file-excel-o">&emsp; Upload Plan</i></a>-->
   {# <a href="{% url 'uploadPlan1' siteID %}"><i class="fa fa-cloud-upload">&emsp;Upload File</i></a>#}
{#    <a href="{% block uploadScada %}{% endblock %}" class="{% if page == 'uploadScada' %}activeLink{% endif %}"><i class="fa fa-file-archive-o">&emsp; DCS/SCADA</i></a>#}
{#    <a href="{% block inspecPlan %}{% endblock %}" class="{% if page == 'inspectionPlan' %}activeLink{% endif %}"><i class="fa fa-pencil-square-o">&emsp;Inpsection Plan</i></a>#}
    <!-- <a href="{% block rbitracking %}{% endblock %}" class="{% if page == 'rbitracking' %}activeLink{% endif %}"><i class="fa fa-users">&emsp;RBI Tracking</i></a> -->
{#    <a href="{% block mitigationSite %}{% endblock %}" class="{% if page == 'mitigation' %}activeLink{% endif %}"><i class="fa fa-sort-amount-asc">&emsp;Mitigation</i></a>#}
    <a href="{% block listveri %}{% endblock %}" class="{% if page == 'VerificationFaci' %} activeLink {% endif %}"><i class="fa fa-list">&emsp; Back to List Verification</i> </a>
    </div>
{% endblock %}