<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expert Help</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
        div {
            border: solid #89AEB2 1px;
            display: inline-block;
            width: 48%;height: 48%;
        }

    </style>
</head>
<body>
    <div name="left" style="float: left ">
    <!--  Day la chart -->
        <canvas id="myChartMAX_OP_TEMP" ></canvas>
     </div>
    <div name="right" style="float: right ">
    <!--  Day la chart -->
        <canvas id="myChartNaOHConcentration" ></canvas>
     </div>
    <div name="left" style="float: left ">
    <!--  Day la chart -->
        <canvas id="myChartCRACK_PRESENT" ></canvas>
     </div>
    <div name="left" style="float: left ">
    <!--  Day la chart -->
        <canvas id="myChartHEAT_TRACE" ></canvas>
     </div>

    <script>
    //var ctx = document.getElementById('myChartNominalThickness').getContext('2d');
        var lineChartMAX_OP_TEMP = document.getElementById('myChartMAX_OP_TEMP');
        var myChartMAX_OP_TEMP = new Chart(lineChartMAX_OP_TEMP, {
                type: 'line',
                data: {
                        labels:[{% for x in dataMAX_OP_TEMPX %}
                            {{ x }},
                        {% endfor %}
                        ],
                    datasets: [
                        {
                            label: 'Amine Cracking for 0 months',
                            data: [{% for x in dataMAX_OP_TEMPY0 %}
                            {{ x }},
                        {% endfor %}
                        ],
                            backgroundColor: 'rgba(0, 128, 128, 0.3)',
                            borderColor: 'rgba(0, 128, 128, 0.7)',
                            borderWidth: 1,
                            fill:false
                        },
                        {
                            label: 'PoF',
                            data: [{% for x in dataMAX_OP_TEMPY1 %}
                            {{ x }},
                            {% endfor %}
                            ],
                            backgroundColor: 'rgba(128, 0, 128, 0.7)',
                            borderColor: 'rgba(128, 0, 128, 1)',
                            borderWidth: 1,
                            fill:false
                        },
                        {
                            label: 'Risk',
                            data: [{% for x in dataMAX_OP_TEMPY2 %}
                            {{ x }},
                            {% endfor %}
                            ],
                            backgroundColor: 'rgba(0, 128, 128, 1)',
                            borderColor: 'rgba(128, 0, 0, 1)',
                            borderWidth: 1,
                            fill:false
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:false,
                                stacked: true
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                            display: true,
                            fontSize: 14,
                            labelString: "Maximum Operating Temperature (Celsius)",
                            }
                        }]

                    },
                }
            });
        var lineChartNaOHConcentration = document.getElementById('myChartNaOHConcentration');
        var myChartNaOHConcentration = new Chart(lineChartNaOHConcentration, {
                type: 'line',
                data: {
                        labels:[{% for x in dataNaOHConcentrationX %}
                            {{ x }},
                        {% endfor %}
                        ],
                    datasets: [
                        {
                            label: 'Amine Cracking for 0 months',
                            data: [{% for x in dataNaOHConcentrationY0 %}
                            {{ x }},
                        {% endfor %}
                        ],
                            backgroundColor: 'rgba(0, 128, 128, 0.3)',
                            borderColor: 'rgba(0, 128, 128, 0.7)',
                            borderWidth: 1,
                            fill:false
                        },
                        {
                            label: 'PoF',
                            data: [{% for x in dataNaOHConcentrationY1 %}
                            {{ x }},
                            {% endfor %}
                            ],
                            backgroundColor: 'rgba(128, 0, 128, 0.7)',
                            borderColor: 'rgba(128, 0, 128, 1)',
                            borderWidth: 1,
                            fill:false
                        },
                        {
                            label: 'Risk',
                            data: [{% for x in dataNaOHConcentrationY2 %}
                            {{ x }},
                            {% endfor %}
                            ],
                            backgroundColor: 'rgba(0, 128, 128, 1)',
                            borderColor: 'rgba(128, 0, 0, 1)',
                            borderWidth: 1,
                            fill:false
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:false,
                                stacked: true
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                            display: true,
                            fontSize: 14,
                            labelString: "NaOH Concentration (%)",
                            }
                        }]

                    },
                }
            });
        new Chart(document.getElementById("myChartCRACK_PRESENT"), {
        type: 'bar',
        data: {
          labels: ["True", "False"],
          datasets: [
        {
          label: "Caustic Cracking for 0 months",
          backgroundColor: "rgba(0, 128, 128, 0.3)",
          data: [{% for x in dataCRACK_PRESENTY0 %}
                            {{ x }},
                        {% endfor %}
                        ],
        }, {
          label: "PoF",
          backgroundColor: "rgba(128, 0, 128, 0.7)",
          data: [{% for x in dataCRACK_PRESENTY1 %}
                            {{ x }},
                        {% endfor %}
                        ],
        },
        {
          label: "Risk",
          backgroundColor: "rgba(128, 0, 0, 1)",
          data: [{% for x in dataCRACK_PRESENTY2 %}
                            {{ x }},
                        {% endfor %}
                        ],
        }
      ]
        },
        options: {
          title: {
            display: true,
            text: 'The graph shows the dependencies of the parameter Presence of Cracks'
          }
        }
        });
{#        #}
        new Chart(document.getElementById("myChartHEAT_TRACE"), {
        type: 'bar',
        data: {
          labels: ["True", "False"],
          datasets: [
        {
          label: "Caustic Cracking for 0 months",
          backgroundColor: "rgba(0, 128, 128, 0.3)",
          data: [{% for x in dataHEAT_TRACEY0 %}
                            {{ x }},
                        {% endfor %}
                        ],
        }, {
          label: "PoF",
          backgroundColor: "rgba(128, 0, 128, 0.7)",
          data: [{% for x in dataHEAT_TRACEY1 %}
                            {{ x }},
                        {% endfor %}
                        ],
        },
        {
          label: "Risk",
          backgroundColor: "rgba(128, 0, 0, 1)",
          data: [{% for x in dataHEAT_TRACEY2 %}
                            {{ x }},
                        {% endfor %}
                        ],
        }
      ]
        },
        options: {
          title: {
            display: true,
            text: 'The graph shows the dependencies of the parameter Heat Traced'
          }
        }
        });
    </script>
</body>
</html>