{% extends 'BaseUI/BaseFacility/baseRiskSummary.html' %}

{% load staticfiles %}
<!----------------BLOCK MENU--------------->
{% block pof %}{% url 'damgeFactor' proposalID %}{% endblock %}
{% block fcof%}{% url 'fullyConsequence' proposalID %}{% endblock %}
{% block acof%}{% url 'areaBasedCoF' proposalID %}{% endblock %}
{% block matrix %}{% url 'riskMatrix' proposalID %}{% endblock %}
{% block chart %}{% url 'riskChart' proposalID %}{% endblock %}
{% block corri %}{% url 'corrision' proposalID %}{% endblock %}
{% block backProposal %}{% url 'damgeFactor' proposalID%}{% endblock %}

{% block data-content %}
    <style>
      .card {
          background: #ffffff;
      }

    .scheduler-border {
        border: none;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 0 0 1.5em 0;
        font-size: 1.1em ;
        text-align: left ;
        text-decoration-color: #444444;
    }
    .row{
        text-align: left;
    }
    .arrow-down {
        margin-left: 50%;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 2px solid;
        border-right: 2px solid;
        transform: rotate(135deg);
      }
    </style>
    <!--suppress ALL -->
    <form id="inspectionplan" method="post" class="card" >
    {% csrf_token %}

       <div style=" text-align: center"><caption><b style="font-size: 20px; color: #444444;">Internal Lining Degradation Damage Factor</b></caption></div>

                <!-----------BlOCK FULLY QUANTITIVE FCOF AND CATEGORY--------->
         <div class="modal fade" id="FLC" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Damage Fator Adjustment for Lining Condition, FLC</h4>
            </div>
            <div >
              <img  src="{% static '/image/help/FLCLinning.PNG' %}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
        <div class="modal fade" id="FOM" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Damage Factor Adjustment for Online Mornitoring, FOM</h4>
            </div>
            <div >
              <p style="text-align: justify;padding-left: 2%;padding-right: 2%">Some lined components have monitoring to allow early detection
                    of a leak or other failure of the lining. The monitoring allows orderly shutdown of the component before
                    failure occurs. If on-line monitoring is used, and it is known to be effective at detecting lining deterioration,

                    FOM = 0.1; otherwise FOM = 1.0. Examples of monitoring systems include thermography or heat sensitive
                    paint (refractory linings), weep holes with detection devices (loose alloy linings), and electrical resistance
                    detection (glass linings)</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

     <div class="modal fade" id="agetk" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Years Since Last Inspection, age, tk </h4>
            </div>
            <div class="modal-body">
                <img src= "{% static '/image/help/AGEtk.PNG' %}" >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="BaseValueLinning" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Base Value of Damage Factor</h4>
            </div>
            <div class="modal-body">
                <H4 style="text-align: left">Lining Damage Factors – Inorganic Linings:</H4>
                <img src= "{% static '/image/help/BaseValueLinning1.PNG' %}" >
                <br>
                <H4 style="text-align: left">Lining Damage Factors – Organic Linings:</H4>
                <img src= "{% static '/image/help/BaseValueLinning2.PNG' %}" >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="Linning" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Internal Lining Degradation Damage Factor </h4>
            </div>
            <div class="modal-body">

                <img src= "{% static '/image/help/DFLinning.PNG' %}" >

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
        <fieldset class="scheduler-border">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Assessment General Information</b></legend>
                    <div class="row">
                        <div class="col-md-4">Equipment Number</div>
                        <div class="col-md-6"><form><input  type="text" size="70px" value="{{ a.EquipmentNumber }}"></form></div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">Component Number</div>
                        <div class="col-md-6"><form><input  type="text" size="70px" value="{{ a.ComponentNumber }}"> </form></div>
                    </div>
                    <div class="row">
                         <div class="col-md-4">Assessment Name</div>
                        <div class="col-md-6"><form><input  type="text" size="70px" value="{{ a.Assessment }}"> </form></div>
                    </div>
                </fieldset>


        <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Assessment Data Input</b></legend>

               <div>
              <a class="arrow-down" data-toggle="collapse" href="#a" aria-expanded="false" >
              </a></div>
               <div class="collapse" id="a">
                    <div class="row">
                        <div class="col-md-3">Assessment Date</div>
                        <div class="col-md-3"><form><input type="text" name="assessmentdate"  id="assessmentdate" placeholder="yyyy-mm-dd" value="{{ a.assessmentDate }}">
                        <script>
                            $( "#assessmentdate" ).datepicker({
                            dateFormat: 'yy-mm-dd'
                        });

                        </script></form>
                        </div>
                        <div class="col-md-3">Commission Date</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.CommissionDate }}"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Risk Analysis Period</div>
                        <div class="col-md-3"><form><input  type="text" value="36 months"> </form></div>
                        <div class="col-md-3">Last Inspection Date</div>
                        <div class="col-md-3"><form><input  type="text" name="lastInspection"  id="lastInspection" placeholder="yyyy-mm-dd" value="{{a.CommissionDate}}">
                        <script>
                            $( "#lastInspection" ).datepicker({
                            dateFormat: 'yy-mm-dd'
                        });

                        </script></form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Liner Online Monitoring</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.online }}"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Internal Liner Type</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.LinerType }}" size="70px"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Internal Liner Condition</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.LinerCondition }}" > </form></div>
                    </div>
               </div>
            </fieldset>
            <!-------Khối Intermediate Results------>
            <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Intermediate Results </b></legend>
                 <div>
              <a class="arrow-down" data-toggle="collapse" href="#b" aria-expanded="false" >
              </a></div>
               <div class="collapse" id="b">
                    <div class="row">
                        <div class="col-md-6">Damage Fator Adjustment for Lining Condition, FLC <button style="background: white; padding: 0 0 0 0; border:none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#FLC"><i class="fa fa-question-circle" style="color: blue;" ></i></button></div>
                        <div class="col-md-3"><form><input  type="text" size="10px" value="{{ a.FLC }}"> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">Damage Factor Adjustment for Online Mornitoring, FOM <button style="background: white; padding: 0 0 0 0; border:none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#FOM"><i class="fa fa-question-circle" style="color: blue;" ></i></button></div>
                        <div class="col-md-3"><form><input  type="text" size="10px" value="{{ a.FOM }}"> </form></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><form><input  type="text" style="background-color: #0C5BED; color: white" size="54px"  value="0 months                    36 months                  72 months"> </form></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">Years Since Last Inspection, age <button style="background: white; padding: 0 0 0 0; border:none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#agetk"><i class="fa fa-question-circle" style="color: blue;" ></i></button></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value="{{ a.age1 }}"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value="{{ a.age2 }}"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="{{ a.age3 }}"> </form></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">Base Value of Damage Factor <button style="background: white; padding: 0 0 0 0; border:none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#BaseValueLinning"><i class="fa fa-question-circle" style="color: blue;" ></i></button></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value="{{ a.baseValue1 }}"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value="{{ a.baseValue2 }}"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value="{{ a.baseValue3 }}"> </form></div>
                    </div>

               </div>
            </fieldset>
            <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Damage Factor </b></legend>
                 <div>
              <a class="arrow-down" data-toggle="collapse" href="#c" aria-expanded="false" >
              </a></div>
               <div class="collapse" id="c">
                    <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><form><input  type="text" style="background-color: #0C5BED; color: #FFFFFF" size="54px"  value="0 months                    36 months                  72 months"> </form></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">Internal Lining Degradation Damage Factor <button style="background: white; padding: 0 0 0 0; border:none" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Linning"><i class="fa fa-question-circle" style="color: blue;" ></i></button></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value="{{ a.lin1 }}"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value="{{ a.lin2 }}"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value="{{ a.lin3 }}"> </form></div>
                    </div>
               </div>
            </fieldset>
        </fieldset>
    </form>

{% endblock %}