{% extends 'BaseUI/BaseFacility/baseRiskSummary.html' %}

{% load staticfiles %}
<!----------------BLOCK MENU--------------->
{% block pof %}{% url 'damgeFactor' proposalID %}{% endblock %}
{% block fcof%}{% url 'fullyConsequence' proposalID %}{% endblock %}
{% block acof%}{% url 'areaBasedCoF' proposalID %}{% endblock %}
{% block matrix %}{% url 'riskMatrix' proposalID %}{% endblock %}
{% block chart %}{% url 'riskChart' proposalID %}{% endblock %}
{% block corri %}{% url 'corrision' proposalID %}{% endblock %}
{% block backProposal %}{% url 'damgeFactor' proposalID%}{% endblock %}

{% block data-content %}
    <style>
      .card {
          background: #ffffff;
      }

    .scheduler-border {
        border: none;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 0 0 1.5em 0;
        font-size: 1.1em ;
        text-align: left ;
        text-decoration-color: #444444;
    }
    .row{
        text-align: left;
    }
    .arrow-down {
        margin-left: 50%;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 2px solid;
        border-right: 2px solid;
        transform: rotate(135deg);
      }
    </style>
    <!--suppress ALL -->
    <form id="inspectionplan" method="post" class="card" >
    {% csrf_token %}
       <div style=" text-align: center"><caption><b style="font-size: 20px; color: #444444;">Caustic Stress Corrosion Cracking Damage Factor</b></caption></div>
          <div class="modal fade" id="plot" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Susceptibility to Caustic Cracking</h4>
        </div>
        <div class="modal-body">

            <img  src="{% static '/image/proposal/plot.png' %}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
        <div class="modal fade" id="susceptibility" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Susceptibility to Caustic Cracking</h4>
        </div>
        <div class="modal-body">
            <p>Susceptibility to Caustic can be calculated from the figure below:</p>
            <img  src="{% static '/image/proposal/susceptibilityCaustic.PNG' %}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
   <div class="modal fade" id="svi" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Severity Index, SVI</h4>
        </div>
        <div class="modal-body">
            <p>Severity Index to Caustic can be calculated from the table below:</p>
            <img src="{% static '/image/proposal/caustic_severityindex.PNG' %}" style="width: 100%">
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="year" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Years Since Last Inspection, age</h4>
        </div>
        <div class="modal-body">
            <p>Age is the component in-service time since the last cracking inspection or service start date.</p>

        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade" id="damageFactor" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Caustic Stress Cracking Damage Factor</h4>
        </div>
        <div class="modal-body">
             <img  src="{% static '/image/proposal/baseDMCaustic.PNG' %}">

        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade" id="base" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Base Value of Damage Factor</h4>
        </div>
        <div class="modal-body">
             <img src="{% static 'image/proposal/ssc_base_table_DF.JPG' %}" style="width: 100%">

        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

                <!-----------BlOCK FULLY QUANTITIVE FCOF AND CATEGORY--------->
        <fieldset class="scheduler-border">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Assessment General Information</b></legend>
                    <div class="row">
                        <div class="col-md-4">Equipment Number</div>
                        <div class="col-md-6"><input  type="text" size="50px" value="{{ a.EquipmentNumber }}"></div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">Component Number</div>
                        <div class="col-md-6"><input  type="text" size="50px" value="{{ a.ComponentNumber }}"> </div>
                    </div>
                    <div class="row">
                         <div class="col-md-4">Assessment Name</div>
                        <div class="col-md-6"><input  type="text" size="50px" value="{{ a.Assessment }}"> </div>
                    </div>
                </fieldset>


        <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Assessment Data Input</b></legend>
            <div>
           <a class="arrow-down" data-toggle="collapse" href="#c" aria-expanded="false" >
              </a></div>
               <div class="collapse" id="c">
                    <div class="row">
                        <div class="col-md-3">Assessment Date</div>
                        <div class="col-md-3"><input type="text" name="assessmentdate"  id="assessmentdate" placeholder="yyyy-mm-dd" value="{{ a.assessmentDate }}">
                        <script>
                            $( "#assessmentdate" ).datepicker({
                            dateFormat: 'yy-mm-dd'
                        });

                        </script>
                        </div>
                        <div class="col-md-3">Commission Date</div>
                        <div class="col-md-3"><input  type="text" value="{{ a.CommissionDate }}"> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Risk Analysis Period</div>
                        <div class="col-md-3"><input  type="text" value="36 months"> </div>
                        <div class="col-md-3">Last Inspection Date</div>
                        <div class="col-md-3"><input  type="text" name="lastInspection"  id="lastInspection" placeholder="yyyy-mm-dd" value="{{a.CommissionDate}}">
                        <script>
                            $( "#lastInspection" ).datepicker({
                            dateFormat: 'yy-mm-dd'
                        });

                        </script>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Highest Inspection Effectiveness</div>
                        <div class="col-md-3"><input  type="text" value="{{ a.CAUSTIC_INSP_EFF }}"> </div>
                        <div class="col-md-3">Number of Inspections</div>
                        <div class="col-md-3"><input  type="text" value="{{ a.CAUSTIC_INSP_NUM }}"> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Max Operating Temperature</div>
                        <div class="col-md-3"><input  type="text" value="{{ a.MAX_OP_TEMP }}"></div>
                        <div class="col-md-3">NaOH Concentration (%)</div>
                        <div class="col-md-3"><input  type="text" value="{{ a.NaOHConcentration }}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Presence of Cracks</div>
                        <div class="col-md-3"><input  type="text" value="{{ a.CRACK_PRESENT }}"> </div>
                        <div class="col-md-3">PWHT</div>
                        <div class="col-md-3"><input  type="text" value="{{ a.PWHT }}"></div>
                    </div>
                   <div class="row">
                            <div class="col-md-3">Steamed Out Prior to Water Flushing</div>
                            <div class="col-md-3"><input  type="text" value="{{ a.STEAM_OUT }}"> </div>
                            <div class="col-md-3">Heat Traced</div>
                            <div class="col-md-3"><input  type="text" value="{{ a.HEAT_TRACE }}"></div>
                        </div>
               </div>
            </fieldset>
            <!-------Khối Intermediate Results------>
            <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Intermediate Results </b></legend>
                <div>
                <a class="arrow-down" data-toggle="collapse" href="#b" aria-expanded="false" >
              </a></div>
               <div class="collapse" id="b">
                    <div class="row">
                        <div class="col-md-6">Plot Point on NACE Caustic Soda Service Graph: Plot in Area "A" <button style="border: none; background-color: white; padding: 0px 0px 0px 0px" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#plot">
                                <i class="fa fa-question-circle" style="color:#0C5BED" ></i>
                            </button></div>
                        <div class="col-md-3"><input  type="text" size="30px" value="{{ a.plotinArea }}"> </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">Susceptibility to Caustic Cracking <button style="border: none; background-color: white; padding: 0px 0px 0px 0px" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#susceptibility">
                                <i class="fa fa-question-circle" style="color:#0C5BED" ></i>
                            </button></div>
                        <div class="col-md-3"><input  type="text" size="30px" value="{{ a.Susceptibility }}"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">Severity Index, SVI <button style="border: none; background-color: white; padding: 0px 0px 0px 0px" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#svi">
                                <i class="fa fa-question-circle" style="color:#0C5BED" ></i>
                            </button></div>
                        <div class="col-md-3"><input  type="text" size="30px" value="{{ a.SVI }}"></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><input  type="text" style="background-color: #0C5BED; color: white" size="53px"  value="0 months                    36 months              72 months"> </form></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">Years Since Last Inspection, age <button style="border: none; background-color: white; padding: 0px 0px 0px 0px" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#year">
                                <i class="fa fa-question-circle" style="color:#0C5BED" ></i>
                            </button></div>
                            <div class="col-md-2"><input  type="text" size="9px" value="{{ a.age1 }}"></div>
                            <div class="col-md-2"><input  type="text" size="9px" value="{{ a.age2 }}"></div>
                            <div class="col-md-2"><input  type="text" size="9px" value="{{ a.age3 }}"></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">Base Value of Damage Factor <button style="border: none; background-color: white; padding: 0px 0px 0px 0px" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#base">
                                <i class="fa fa-question-circle" style="color:#0C5BED" ></i>
                            </button></div>
                            <div class="col-md-2"><input  type="text" size="9px" value="{{ a.base1 }}"></div>
                            <div class="col-md-2"><input  type="text" size="9px" value="{{ a.base2 }}"></div>
                            <div class="col-md-2"><input  type="text" size="9px" value="{{ a.base3 }}"></div>
                    </div>

           </div>
            </fieldset>
            <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Damage Factor </b></legend>
                <div>
                <a class="arrow-down" data-toggle="collapse" href="#a" aria-expanded="false" >
              </a></div>
               <div class="collapse" id="a">
                    <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><input  type="text" style="background-color: #0C5BED; color: #FFFFFF" size="53px"  value="0 months                      36 months              72 months"> </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">Caustic Stress Cracking Damage Factor <button style="border: none; background-color: white; padding: 0px 0px 0px 0px" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#damageFactor">
                                <i class="fa fa-question-circle" style="color:#0C5BED" ></i>
                            </button></div>
                            <div class="col-md-2"><input  type="text" size="9px" value="{{ a.caustic1 }}"> </div>
                            <div class="col-md-2"><input  type="text" size="9px" value="{{ a.caustic2 }}"></div>
                            <div class="col-md-2"><input  type="text" size="9px" value="{{ a.caustic3 }}"></div>
                    </div>
               </div>
            </fieldset>
            <input type="submit" name="expertHelp" style="background: blue; float: right;color: white; border:black 2px solid;margin-right:1px;" value="EXPERT HELP">
        </fieldset>
    </form>

{% endblock %}