{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Equipment{% endblock %}

{% block vertical %}
    <!-- <a class="active"><span>Equipment Management</span></a> -->
    <a href="{% block listeq %}{% endblock %}" class="{% if page == 'listEquip' or 'equipmentNew' %}activeLink{% endif %}"><i class="fa fa-list">&emsp;<span>List of Equipments</span></i></a>
    <a href="{% block design %}{% endblock %}" class="{% if page == 'listDesign' %}activeLink{% endif %}"><i class="fa fa-barcode">&emsp;<span>Design Code</span></i></a>
    <a href="{% block manu %}{% endblock %}" class="{% if page == 'listManu' %}activeLink{% endif %}"><i class="fa fa-cubes">&emsp;<span>Manufacture</span></i></a>
{#    <a href="{% block mana %}{% endblock %}" class="{% if page == 'mana' %}activeLink{% endif %}"><i class="fa fa-list">&emsp;<span>Management Systems</span></i></a>#}
    <a href="{% block backfaci %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;<span>Back to Facility</span></i></a>
{% endblock %}