{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Upload File{% endblock %}

{% block vertical %}
    <!-- <a class="active">Upload Files<br>Management</a> -->
    <!--<a href="{% block listfaci %}{% endblock %}" class="{% if page == 'listFacility' %}activeLink{% endif %}"><i class="fa fa-list">&emsp;List of Facilities</i></a>       -->
    <!--<a href="{% block design %}{% endblock %}" class="{% if page == 'listDesign' %}activeLink{% endif %}"><i class="fa fa-barcode">&emsp;Design Code</i></a>-->
    <!--<a href="{% block manu %}{% endblock %}" class="{% if page == 'listManu' %}activeLink{% endif %}"><i class="fa fa-cubes">&emsp;Manufacture</i></a>-->
    <a href="{% block uploadPlant %}{% endblock %}" class="{% if page == 'uploadPlan' %}activeLink{% endif %}"><i class="fa fa-file-excel-o" style="margin-left: 25px;">&emsp;Import Plan</i></a>
    <!--<a href="{% block uploadInsp %}{% endblock %}" class="{% if page == 'uploadHistory' %}activeLink{% endif %}"><i class="fa fa-file" style="margin-left: 25px;">&emsp;Upload History</i></a>-->
    <a href="{% block manageFile %}{% endblock %}" class="{% if page == 'manageFile' %}activeLink{% endif %}"><i class="fa fa-file-code-o" aria-hidden="true" style="margin-left: 25px;">&emsp;File Manager</i></a>
    <a href="{% block backfaci %}{% endblock %}"><i class="fa fa-arrow-left">&emsp; Back to Facility</i></a>
{% endblock %}